*.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.resS !text !filter !merge !diff
